*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}



h1{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: cornflowerblue;
    font-size: 28px;
    font-family: sans-serif;
}

h1 span{
    display: inline-block;
    animation: animate 2s ease-in-out, change 2s infinite;
}


@keyframes animate{
    0%, 50%{
        opacity: 1;
        transform: rotateY(90deg);
        filter: blur(10px);
    }

    100%{
        opacity: 1;
        transform: rotateY(0deg);
        filter: blur(0px);
    }
}

@keyframes change{
    0% {color: cornflowerblue;}
    50% {color: wheat;}
    100%{color:cornflowerblue}
}
